.seatmap {
  /* display: flex; */
  border: solid 10px #E9E9E9;
  position: relative;
  margin-top:10vh;
  margin-left:17vw ;
  margin-right: 15vw;
  padding: 1vh 0vw 8vh 0vw;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.red{
  background-color: #FF5A5A !important;

}
.yellow{
  background-color: #FFC440;
}
.white{
  background-color: #FFFFFF;
  border: solid  0.01rem #A0A0A0;
}
.black{
  background-color: #363F4E;
}

.custom-class{
  background-color: #656565;
  justify-content: center;
  width: 300px;

}
.ant-notification-notice-message{
  color: azure;
}

.chair {
  width: 15vh;
  height: 15vh;
}

.ant-notification-notice-close {     display: none; }

.ant-btn-primary {
  background-color: #5CB4FD;
  border-color:#5CB4FD;
  border-radius: 3px;
  font-size: 10pt;
}
hr {

  border: 0.5px solid rgb(0 0 0 / 12%);
  /* background-color: #F5F5F5; */
}


footer{
  position: absolute;
  display: block;
  bottom: 2vh;
  justify-content: center;
  width: 100%; 
}



.my-modal-class .ant-modal-footer{
  justify-content: center; 
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight:bold;
}

.idle-modal-class .ant-modal-footer{
  margin-right: 10px;
  justify-content: right; 
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight:bold;
}

.ant-btn-lg {
  height: 40px;
  padding: 7px 34px;
  font-size: 12px;
  border: solid 1.5px #363F4E;
  border-radius: 4px;
}


.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}


.ant-modal-body {
  padding:20px 20px 0px 20px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}


.ant-modal-footer {
  padding:0px 10px 30px 10px;
  font-weight:bold;
  }


  .ant-radio-checked .ant-radio-inner{
    border-color: #363F4E!important ;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
    background-color: #363F4E;
  }
  
  .ant-radio:hover .ant-radio-inner {
    border-color: #363F4E;
  }

  .ant-radio-checked .ant-radio-inner:focus{
    border-color: #363F4E;
  }
#fromcontact .ant-btn-primary{
  background-color: #fff;
  border-color: #1976D2;
  color: #1976D2;
}

  #fromcontact{
    padding: 15px;
  
  }
  .fromcontact{
    padding: 15px;
  
  }

  .center{
    padding-left: 8%;
  }

  .directions{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: auto;
  }