.seatmap {
  /* display: flex; */
  border: solid 20px #E9E9E9;
  position: relative;
  margin-top: 6vh;
  margin-left: 17vw;
  margin-right: 15vw;
  padding: 2.2% 1% 3% 1%;
}
.seatmap::before {
  content:"";
  position: absolute;
  left: 0%;
  top: 101.5%;
  width: 25%;
  height: 10px;
  background: rgb(255, 255, 255);
  border: solid 2px #A0A0A0;
}
.seatmap::after {
  content:"";
  position: absolute;
  left: 0%;
  top: 100%;
  width: 25%;
  height: 10px;
  background: rgb(253, 253, 253);
  border: solid 2px #A0A0A0 ;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #FF5A5A !important;

}

.yellow {
  background-color: #FFC440;
}

.white {
  background-color: #FFFFFF;
  border: solid 0.01rem #A0A0A0;
}

.black {
  background-color: #363F4E;
}

.custom-class {
  background-color: #656565;
  justify-content: center;
  width: 300px;

}

.ant-notification-notice-message {
  color: azure;
}

.chair {
  /* height: 17vh;
  width: 15vw; */
  height: 80%;
  width: 80%;
  position: relative;
}
.nullchair{
  height: 40%;
  width: 40%;
}
img {
  /* max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
}

.ant-notification-notice-close {
  display: none;
}

.ant-btn-primary {
  height: 60px;
  font-size: 24px;
  border: solid 1.5px #363F4E;
  border-radius: 4px;
  padding: 10px;
}


.ant-modal-body {
  padding: 28px 20px 0px 20px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;

}
.ant-btn-link {
  color: #E9E9E9;
}
hr {

  border: 0.5px solid rgb(0 0 0 / 12%);
  /* background-color: #F5F5F5; */
}
.page-container {
  position: relative;
  min-height: 100%;
}

.ant-layout-footer {

  position: relative;
  bottom: 0;
  justify-content: center;
  width: 100%;
  font-size: 28px;
}

body {
  font-size: 24px;
}


/* .my-modal-class .ant-modal-footer {
  justify-content: center;
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight: bold;
  padding: 8px;
  padding-bottom: 32px;
} */
/* .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: solid 1.5px #d2dcf0;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
} */
/* .idle-modal-class .ant-modal-footer {

  margin-right: 10px;
  justify-content: right;
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight: bold;
  margin-bottom: 5000px;
} */


.ant-btn-lg {
  height: 40px;
  padding: 7px 34px;
  font-size: 12px;
  border: solid 1.5px #363F4E;
  border-radius: 4px;
}


.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}


.ant-modal-body {
  padding: 20px 20px 0px 20px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}


.ant-modal-footer {
  justify-content: center;
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight: bold;
  padding: 8px;
  padding-bottom: 32px;
}


.ant-radio-checked .ant-radio-inner {
  border-color: #363F4E !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #363F4E;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #363F4E;
}

.ant-radio-checked .ant-radio-inner:focus {
  border-color: #363F4E;
}

.ant-form-item-explain-error {
  padding: 5px;
  color: #ff4d4f;
}

#fromcontact .ant-btn-primary {
  background-color: #fff;
  border-color: #1976D2;
  color: #1976D2;
  padding: 10px;
}

#fromcontact {
  padding: 15px;

}

.fromcontact {
  padding: 15px;

}

.center {
  text-align: center;
}

.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.logut {
  width: 116px;
  height: 40px;
  background: #363F4E;
  color: white; 
  position: absolute;
  top: 1.2vh;


}
