.seatmap {
  /* display: flex; */
  border: solid 10px #E9E9E9;
  position: relative;
  margin-top: 5vh;
  margin-left: 17vw;
  margin-right: 15vw;
  padding: 1vh 0vw 8vh 0vw;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #FF5A5A !important;

}

.yellow {
  background-color: #FFC440;
}

.white {
  background-color: #FFFFFF;
  border: solid 0.01rem #A0A0A0;
}

.black {
  background-color: #363F4E;
}

.custom-class {
  background-color: #656565;
  justify-content: center;
  width: 300px;

}

.ant-notification-notice-message {
  color: azure;
}

.chair {
  /* height: 17vh;
  width: 15vw; */
  height: 18vh;
  width:90%;
  position: relative;
}

img {
  /* max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
}

.ant-notification-notice-close {
  display: none;
}

.ant-btn-primary {
  background-color: #5CB4FD;
  border-color: #5CB4FD;
  border-radius: 3px;
  font-size: 2vw;
}
.ant-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 5vh;
  padding: 1vh;
  font-size: 1vw;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.85);
  border-color: #d9d9d9;

}

hr {

  border: 0.5px solid rgb(0 0 0 / 12%);
  /* background-color: #F5F5F5; */
}


.ant-layout-footer{
  position: absolute;
  display: block;
  bottom: 2vh;
  justify-content: center;
  width: 100%;
  font-size: 1vw;
}

body{
  font-size: 1vw;
}


.my-modal-class .ant-modal-footer {
  justify-content: center;
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight: bold;
  padding: 8px;
}

.idle-modal-class .ant-modal-footer {

  margin-right: 10px;
  justify-content: right;
  display: flex;
  border-top: 1px solid #ffffff;
  font-weight: bold;
}

.ant-btn-lg {
  height: 40px;
  padding: 7px 34px;
  font-size: 12px;
  border: solid 1.5px #363F4E;
  border-radius: 4px;
}


.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}


.ant-modal-body {
  padding: 20px 20px 0px 20px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}


.ant-modal-footer {
  padding: 0px 10px 30px 10px;
  font-weight: bold;
}


.ant-radio-checked .ant-radio-inner {
  border-color: #363F4E !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #363F4E;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #363F4E;
}

.ant-radio-checked .ant-radio-inner:focus {
  border-color: #363F4E;
}

#fromcontact .ant-btn-primary {
  background-color: #fff;
  border-color: #1976D2;
  color: #1976D2;
}

#fromcontact {
  padding: 15px;

}

.fromcontact {
  padding: 15px;

}

.center {
  padding-left: 8%;
}

.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}