.box {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.logo {
  display:flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.logo img
{display:inline-block;
max-width: 80%;
min-height: 80%;}

.Color {

  background-color: #363F4E;
  color: rgb(255, 255, 255);
  display: flex;
  /* ★ */
}

.checkbox-red .ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #363F4E;
  border-color: #363F4E;
}

.checkbox-red .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: #363F4E;
}



.content {
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 35vw;
  /* backdrop-filter: blur(5px); */
  box-shadow: 1px 1px 5px 5px rgb(200, 200, 200,0.5);
  border-radius:5px;
  

}
@media screen and (max-width:768px) { 
  .form {

    padding: 5px;
    flex-direction: column;
    display: flex;
    text-align: left;
  }
  .content {
    margin: 0 auto;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    width: 70vw;
    box-shadow: 1px 1px 5px 5px rgb(200, 200, 200,0.5);
    border-radius:5px;
    
  }
}
@media (max-width:1200px) and (min-width:900px)  { 

  .form {

    padding: 10px;
    flex-direction: column;
    display: flex;
    text-align: left;
  }
  .ant-btn-lgl {
    height: 59px !important;
    padding: 7px 34px;
    border: solid 1.5px #363F4E;
    border-radius: 4px;
}
  h1{
    font-size: 36px !important;
   }
  
  h2{
    font-size: 1.7vw;
  }

  /* .logo .image{

    position: absolute;
    left: 3vw;
  }
  .image img{
    max-height: 65%;  
    max-width: 65%; 
    width: auto;
    height: auto;
  
  } */
}
@media (max-width:1400px) and (min-width:1200px)  { 
  h2{
    font-size:1.7vw;
  }
  /* .logo .image{

    position: absolute;
    left: 3vw;
  }
  .image img{
    max-height: 70%;  
    max-width: 70%; 
    width: auto;
    height: auto;
  
  } */
}
@media (max-width:1800px) and (min-width:1400px)  { 
  h2{
    font-size:1.7vw;
  }
  /* .logo .image{

    position: absolute;
    left: 3vw;
  }
  .image img{
    max-height: 95%;  
    max-width: 95%; 
    width: auto;
    height: auto;
  
  } */
}

@media (max-width:900px) and (min-width:768px)  { 

  .form {

    padding: 10px;
    flex-direction: column;
    display: flex;
    text-align: left;
  }

  h2{
    font-size: 1.7vw;
  }
  /* .logo .image{

    position: absolute;
    left: 3.5vw;
   
  }
  .image img{
    max-height: 60%;  
    max-width: 60%; 
    width: auto;
    height: auto;
  
  } */
}

@media (max-width:2000px) and (min-width:1800px)  { 
  h2{
    font-size: 1.7vw;
  }

  /* .logo .image{

    position: absolute;
    left: 3.7vw;
  }
  .image img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
  
  } */
}
.form {

  padding: 25px;
  flex-direction: column;
  display: flex;
  text-align: left;
}
