.box{
    width: 500px;

    margin: auto;
    height: auto;
    padding: 25vh 0;
  }
  .content{
    width: 400px;
    border: 1px solid #f00;
    background: #ccc;
  }


.Color{
    background-color: #363F4E;
}